.gif-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 5 columnas con ancho flexible */
  gap: 14px; 
}

.gif-item {
  width: 84em;
  height: 14em;
  margin-top:14em;
padding-bottom: 14em;
}

.card {
  width: 74em; 
}

@media (max-width: 992px) {
  .gif-grid {
    grid-template-columns: repeat(3, 1fr); /* Cambia a 3 columnas en pantallas más pequeñas */
  }
}

@media (max-width: 768px) {
  .gif-grid {
    grid-template-columns: repeat(2, 1fr); /* Cambia a 2 columnas en pantallas más pequeñas */
  }
}

@media (max-width: 576px) {
  .gif-grid {
    grid-template-columns: 1fr; /* Una columna en pantallas muy pequeñas */
  }
}
